/** @format */
:root{
  --bg-main-color:#fff9f2;
  --bg-secondary-color:#deffd6;
  --bg-thirdly-color:#C4DDF2;
  --text-main-color:#3e3a39;
  --text-secondary-color:#f2dec3;
  --text-alert-color:#f1a008;
}

.bg-main-color{
  background-color: var(--bg-main-color);
}

.bg-secondary-color{
  background-color: var(--bg-secondary-color);
}
.bg-thirdly-color{
  background-color: var(--bg-thirdly-color);
}

.text-main-color{
  color: var( --bg-main-color);
}
.text-bg-color{
  color: var(--text-main-color);
}

.text-secondary-color{
  color: var(--text-secondary-color);
}
.text-alert-color{
  color: var(--text-alert-color);
}


html{
  /* tailwindの設定だと変なフォントになるので */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", Meiryo, sans-serif;
  color: var(--text-main-color);
  background-color: var(--bg-main-color);
  scroll-behavior:smooth;
}
header{
  color:var(--bg-main-color);
    background-repeat: no-repeat;
    /* background-position:center; */
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    /* 100vwにするとhtmlはみだしちゃう */
    height: 200px;
}

.footer-img{
  
  background-repeat: no-repeat;
  background-position:bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* 下向きに揃える↓ */
  justify-content: flex-end;
  width: 100%;
  height: 450px;
}
.header,
.main-content,
.sidebar,
.footer {
  padding: 20px;
  position: relative;
}
.header {
  background-color: #efe;
}
.main {
  display: flex;
}
.main-content {
  background-color: #fee;
  width: 75%;
}
.sidebar {
  background-color: #eef;
  width: 25%;
}
.footer {
  background-color: #fff;
}

.test-css{
  color:pink;
}

/* フォント */
.kiwi-maru{
  font-family: 'Kiwi Maru', serif;
}

.shippori-mincho{
  font-family: 'Shippori Mincho', serif;
}
.yomogi{
  font-family: 'Yomogi', cursive;
}
.playfair{
  font-family: 'Playfair Display', serif;
}


/* swiperの点 */
.swiper-pagination-bullet{
	/* background-color: var(--bg-secondary-color)!important; */
}
.swiper-pagination-bullet-active{
	background-color:#C4DDF2!important;
}
/* トップページのサムネ動き */

/* 下記コードは
Copyright©2020Codrops
Released under the MIT license
http://tympanus.net/codrops/licensing/  */

.frontpage-thub {
	position: relative;
	margin: 0 auto;
	padding: 0 1em 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	/* height: 0px; */
	height: 100%;
}


.frontpage-thub figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	/* min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%; */
	width: 300px;
	height: 300px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.frontpage-thub figure img {
	position: relative;
	display: block;
	object-fit: cover;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.frontpage-thub figure figcaption {
	padding: 2em;
	color: var(--bg-main-color);
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.frontpage-thub figure figcaption::before,
.frontpage-thub figure figcaption::after {
	pointer-events: none;
}

.frontpage-thub figure figcaption,
.frontpage-thub figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.frontpage-thub figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.frontpage-thub figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.frontpage-thub figure h2 span {
	font-weight: 800;
}

.frontpage-thub figure h2,
.frontpage-thub figure p {
	margin: 0;
}

.frontpage-thub figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-layla {
	background: rgb(43, 43, 43);
}

figure.effect-layla img {
	height: 390px;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid var(--bg-main-color);
	border-bottom: 1px solid var(--bg-main-color);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid var(--bg-main-color);
	border-left: 1px solid var(--bg-main-color);
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 5%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

/* フッターの泡 */
.bubbles {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	}
	 
	.bubble {
	position: absolute;
	bottom: -40;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 1px solid var(--bg-main-color);
	border-radius: 50%;
	animation: bubble 10s ease-in infinite;
	}
	 
	.bubble:nth-child(1) {
	width: 5px;
	height: 5px;
	left: 30%;
	animation-duration: 6s;
	}
	 
	.bubble:nth-child(2) {
	left: 20%;
	animation-duration: 3.5s;
	}
	 
	.bubble:nth-child(3) {
	width: 10px;
	height: 10px;
	left: 30%;
	animation-duration: 7s;
	}
	 
	.bubble:nth-child(4) {
	width: 15px;
	height: 15px;
	left: 67%;
	animation-duration: 6s;
	}
	 
	.bubble:nth-child(5) {
	width: 20px;
	height: 20px;
	left: 70%;
	animation-duration: 4.5s;
	}
	 
	@keyframes bubble {
	  0% {
		bottom: -100px;
		transform: translateX(0);
	  }
	  50% {
		transform: translateX(100px);
	  }
	  100% {
		bottom: 1000px;
	  }
	}

	/* フッターの魚 */
.footer-fish{
	object-fit: contain;
	width: 50px;
	height: auto;
}

/* ヘッダーのハンバーガー */
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  position: fixed;
  top: -5px;
  right: 10px;
  z-index: 100; /* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: rgb(202, 202, 202);
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}
.drawer-open:after {
  position: relative;
  top: 20px;
  right: 1px;
  content: "menu";
  transition: 1s;
  color: var(--bg-main-color);
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
#drawer-check:checked ~ .drawer-open:after {
  transform: translateX(50%) translateY(-70%) rotate(90deg);
  /* transform: translateY(100vw); */

  transition: 1s;
}

/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: var(--text-main-color);
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .drawer-content {
    height: 50px;
  }
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0; /* メニューを画面に入れる */
}

/* ここまでハンバーガーメニュー */



/* アーカイブページの画像 */
.archive-img img {
	border-radius: 5px;
	object-fit: cover;
	width: 300px;
	height: 300px;
}
.archive-text-size{
	width: 800px;
}


  /* アーカイブページページタイトル */
  .page-title{
	font-size: 4em;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Yomogi', cursive;
}

@media screen and (max-width: 768px) {
	.archive-text-size{
		width: 300px;
		margin:10px auto;
	}
	.page-title{
		font-size: 2em;
		font-weight: bold;
	}

  }

