<article class="p-2 mx-4 my-12 flex justify-center items-center flex-wrap kiwi-maru ">
	<div class="w-12 h-12">
		{{ content.field_tech_stack_logo_large[0] }}
	</div>

	<div class="m-4  ">
		<h2 class="text-2xl font-bold my-2  md:text-left text-center float-left">{{ label[0] }}</h2>
		<p class="text  md:text-left text-center p-2 m-2 border-2 border-gray-600 inline-block">{{content.field_tech_stack_genre[0]}}</p>
		<p class="text-xl  md:text-left text-center w-70">{{content.field_tech_stack_maturity[0]}}</p>
	</div>
</article>
