<div class="flex justify-center w-auto m-4 overflow-x-scroll hobby-img-cover" style="height: 500px!important">
	{%- for item in items -%}

		{{ item.content }}
		{# {{ dump(item.content|keys) }} #}

	{%- endfor -%}
</div>
