<div class=" border-2 border-gray-400 mx-4 rounded-2xl w-auto">
	<h3 class="text-2xl kiwi-maru text-center">使用技術</h3>
	<div class="flex justify-center flex-wrap">
		{%- for item in items -%}
			<p class="bg-thirdly-color text-bg-color p-2 m-4 roundex-2xl text-xs">{{ item.content }}</p>
		{%- endfor -%}
	</div>

</div>
